<div class="profile--content">
    <header class="profile--header-container">
        <div class="profile--pic-wrapper">
            <img class="profile--pic" src="/assets/headshot-nobg.png">
            <% if (isCurrentUser) { %>
                <a class="edit--profile-link" href="/user/edit/<%= user.username %>">
                    <h3 class="edit--profile-text">Edit Profile</h3>
                </a>
            <% } else { %>
                <% if(following) { %>
                    <form action="/user/unfollow/<%= user.username %>?_method=PUT" method="POST">
                        <button class="following--profile-button" type="submit">Following</button>
                    </form>
                <% } else { %> 
                    <form action="/user/follow/<%= user.username %>?_method=PUT" method="POST">
                        <button class="follow--profile-button" type="submit">Follow</button>
                    </form>
                <% } %>
            <% } %>
        </div>
    </header>
    <div class="profile--info-container">
        <section class="profile--username-name">
            <h2 class="profile--name"><%= user.profile.name %></h2>
            <h6 class="profile--username">@<%= user.username %></h6>
        </section>
        <section class="profile--info-posts">
            <h5 class="profile--posts-number"><%= user.profile.posts.length %></h5>
            <h4 class="profile--posts-title">Posts</h4>
        </section>
        <section class="profile--info-posts-two">
            <h5 class="profile--posts-number"><%= user.profile.followers.length %></h5>
            <h4 class="profile--posts-title">Followers</h4>
        </section>
        <section class="profile--info-posts-three">
            <h5 class="profile--posts-number"><%= user.profile.following.length %></h5>
            <h4 class="profile--posts-title">Following</h4>
        </section>
    </div>
    <main class="profile--about-posts">
        <section class="profile--about">
            <ul>
                <li class="li--flex">
                    <h3 class="profile--about-text">About</h3>
                    <% if(isCurrentUser) { %>
                        <a href="/user/edit/<%= user.username %>">
                            <i class="edit--icon fa-regular fa-pen-to-square"></i>
                        </a>
                    <% } %>
                </li>
                <li>
                    <p class="margin-top"><%= user.profile.about %></p>
                </li>
                <li>
                    <p class="margin-top"><i class="fa-solid fa-house home-icon"></i><%= user.profile.location %></p>
                </li>
                <li>
                    <p class="margin-top"><i class="fa-brands fa-twitter twitter-icon"></i>BrianSchneeDev</p>
                </li>
            </ul>
        </section>
        <section class="profile--posts">
            <div class="posts--heading-container">
                <h3 class="profile--posts-text">Posts</h3>
                <a class="create--post" href="/post/create">
                    <h2 class="create--post-text">Create<i class="create-icon fa-solid fa-circle-plus"></i></h2>
                </a>
            </div>
            <ul class="profile--posts-list">
                <li>
                    <img class="profile--post" src="/assets/profile-backgrounds/background2.jpg">
                </li>
                <li class="li--margin-left">
                    <img class="profile--post" src="/assets/login.png">
                </li>
                <li class="margin-top">
                    <img class="profile--post" src="/assets/profile-backgrounds/background3.jpg">
                </li>
                <li class="li--margin-left margin-top">
                    <img class="profile--post" src="/assets/profile-backgrounds/background4.jpg">
                </li>
            </ul>
        </section>
    </main>
</div>