<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Following | Climbers Connect</title>

        <!-- Favicon -->
        <link rel="icon" href="/assets/mountain.png">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/footer.css">
        <link rel="stylesheet" href="/css/following.css">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap" rel="stylesheet"> 

        <!-- Scripts -->
        <script src="/js/dropdown.js" defer></script>
        <script
			src="https://kit.fontawesome.com/b89dd87408.js"
			crossorigin="anonymous"
			defer
		></script>
    </head>
    <body>
        <%- include('partials/header') -%>

        <div class="following--container">
            <h1 class="following--title">Following</h1>
    
            <% if(following.length === 0) { %>
                <h3 class="not-following-climbers">You aren't currently following any climbers. To follow climbers, visit the feed and find climbers through their posts. Otherwise, use the search to find climbers by username.</h3>
            <% } else { %>
                <ul class="following--posts-list">
                    <% for(let i = 0; i < following.length; i++) { %>
                        <% for(let j = 0; j < following[i].posts.length; j++) { %>
                            <li class="rendered--post">
                                <a href="/posts/<%= following[i].posts[j]._id %>">
                                    <header class="post--header">
                                        <div class="post--avatar-name-container">
                                            <img class="post--avatar" src="<%= following[i].avatar.url %>">
                                            <div class="post--col">
                                                <span class="climb--title"><%= following[i].posts[j].title %></span>
                                            </div>
                                        </div>
                                        <% if(following[i].posts[j].grade) { %>
                                            <span class="climb--grade"><%= following[i].posts[j].grade.toUpperCase() %></span>
                                        <% } %>
                                    </header>
                                    <div class="climb--image-container">
                                        <img class="climb--img" src="<%= following[i].posts[j].image.url %>">
                                    </div>
                                    <div class="post--extra-info">
                                        <span class="created-at-date"><%= following[i].posts[j].createdAt.getFullYear() %></span>
                                        <div class="star--amount-icon-container">
                                            <span class="star--amount"><%= following[i].posts[j].rating %></span>
                                            <i class="post--star fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            <% } %>
        </div>
        
        <%- include('partials/footer') -%>
    </body>
</html>
