<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Following | Climbers Connect</title>

        <!-- Favicon -->
        <link rel="icon" href="/assets/mountain.png">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/footer.css">
        <link rel="stylesheet" href="/css/following.css">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap" rel="stylesheet"> 

        <!-- Scripts -->
        <script
			src="https://kit.fontawesome.com/b89dd87408.js"
			crossorigin="anonymous"
			defer
		></script>
    </head>
    <body>
        <%- include('partials/header') -%>

        <div class="following--container">
            <h1 class="following--title">Following</h1>
    
            <ul class="following--posts-list">
                <% for(let i = 0; i < connects.length; i++) { %>
                    <li class="rendered--connect-post">
                        <a href="/posts/post/<%= connects[i][0].id %>?type=connect">
                            <header class="connect--header">
                                <img class="post--avatar" src="<%= connects[i][1] %>">
                                <span class="connect--area"><%= connects[i][0].area %></span>
                            </header>
                            <div class="connect--content">
                                <p class="connect--message"><%= connects[i][0].message %></p>
                                <span class="connect--createdAt"><%= connects[i][0].createdAt.getFullYear() %></span>
                            </div>
                        </a>
                    </li>
                <% } %>

                <% for(let i = 0; i < climbs.length; i++) { %>
                    <li class="rendered--climb-post">
                        <a href="/posts/post/<%= climbs[i][0].id %>?type=climb">
                            <header class="post--header">
                                <div class="post--avatar-name-container">
                                    <img class="post--avatar" src="<%= climbs[i][1] %>">
                                    <div class="post--col">
                                        <span class="climb--name"><%= climbs[i][0].name %></span>
                                        <span class="created-at-date"><%= climbs[i][0].createdAt.getFullYear() %></span>
                                    </div>
                                </div>
                                <span class="climb--grade"><%= climbs[i][0].grade.toUpperCase() %></span>
                            </header>
                            <div class="climb--image-container">
                                <img class="climb--img" src="<%= climbs[i][0].image.url %>">
                            </div>
                            <div class="post--extra-info">
                                <div class="star--amount-icon-container">
                                    <span class="star--amount"><%= climbs[i][0].rating %></span>
                                    <i class="post--star fa-solid fa-star"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
        
        <%- include('partials/footer') -%>
    </body>
</html>
