<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Post | Climbers Connect</title>

        <!-- Favicon -->
        <link rel="icon" href="/assets/mountain.png">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/footer.css">
        <link rel="stylesheet" href="/css/post.css">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap" rel="stylesheet"> 

        <!-- Scripts -->
        <script src="/js/post.js" defer></script>
        <script
			src="https://kit.fontawesome.com/b89dd87408.js"
			crossorigin="anonymous"
			defer
		></script>
    </head>
    <body>
        <%- include('partials/header') -%>

        <div class="post--container">
            <div class="climb--image-container">
                <img class="climb--img" src="<%= post.image.url %>">
            </div>
            <div class="comments--container">
                <header class="post--header">
                    <div class="post--avatar-name-container">
                        <a href="/user/<%= user.username %>">
                            <img class="post--avatar" src="<%= user.profile.avatar.url %>" />
                        </a>
                        <div class="post--col">
                            <span class="username"><%= user.username %></span>
                            <span class="created-at-date"><%= date %></span>
                        </div>
                    </div>
                    <% if (isCurrentUsersPost) { %>
                        <div class="options--div">
                            <i class="edit--options fa-solid fa-ellipsis-vertical"></i>
                            <ul class="options">
                                <li class="options--li">
                                    <form action="/posts/delete/<%= post._id %>?_method=DELETE" method="POST">
                                        <span class="options--span">Delete Post</span>
                                        <i class="trash-icon fa-regular fa-trash-can"></i>
                                    </form>
                                </li>
                                <li class="options--li">
                                    <form type="submit" action="/posts/edit/<%= post._id %>?_method=PUT" method="POST">
                                        <span class="options--span">Edit Post</span>
                                        <i class="edit-icon fa-regular fa-pen-to-square"></i>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    <% } %>
                </header>

                <section class="comments--section">
                    <ul class="comments--list">
                        <% for (let i = 0; i < comments.length; i++) { %>
                            <li class="comment--li">
                                <a href="/user/<%= comments[i].user.username %>">
                                    <img class="commenter--avatar" src="<%= comments[i].user.profile.avatar.url %>" />
                                </a>
                                <!-- <span><%= comments[i].user.username %></span> -->
                                <div class="text-date--container">
                                    <p class="comment--text elipsis"><%= comments[i].comment.text %></p>
                                    <p class="comment--date"><%= comments[i].date %></p>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </section>

                <form class="create--comment-form" action="/comments/create" method="POST">
                    <textarea class="create--comment-textarea" type="text" name="comment" placeholder="Enter Comment Here" maxlength="1000"></textarea>
                    <input type="hidden" name="post_id" value="<%= post._id %>">
                    <button class="create--comment-btn" type="submit">
                        <i class="create--comment-icon fa-solid fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>

        <%- include('partials/footer') -%>
    </body>
</html>
